<div class="container">
    <h1 style="margin-left:500px">Add Leave </h1>
    <form class="example-form" #leaveForm="ngForm">
  
      <form class="example-form" style="margin-left:200px">
        <br>
        <mat-form-field>
            <mat-select placeholder="Enter Your Name" [(ngModel)]="employee_name" name="employee_name">
              <mat-option *ngFor="let item of EmployeeArray" [value]="item.employee_name">
                {{item.employee_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

      <mat-form-field class="example-full-width" >
        <input matInput type="text" placeholder="Enter Leave msg" [(ngModel)]="leave_msg" name="leave_msg">
      </mat-form-field>
      <br>

      <form class="example-form" >
      <mat-form-field class="example-full-width" >
        <input matInput type="number" placeholder="Enter leave Days" [(ngModel)]="leave_days" name="leave_days">
      </mat-form-field>
  
      <br>
      <mat-form-field>
          <mat-select placeholder="Enter Leave Type" [(ngModel)]="leave_name" name="leavename">
            <mat-option *ngFor="let item of LeaveTypeArray" [value]="item.leave_name">
              {{item.leave_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <br>
  
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="pickerFrom" placeholder="Choose Date From Leave" [(ngModel)]="leave_from_date" name="leave_from_date">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerFrom></mat-datepicker>
      </mat-form-field>  
<br>
      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="pickerTo" placeholder="Choose Date To Leave" [(ngModel)]="leave_to_date" name="leave_to_date">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker touchUi #pickerTo></mat-datepicker>
        </mat-form-field>  
  
  <br>
        <button  (click)="onAddProductButton()" mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; ADD</button>
        &nbsp;&nbsp;&nbsp;<button   mat-raised-button color="primary">&nbsp;&nbsp;&nbsp; CANCEL</button>
  